<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все пользователи</title>
</head>
<body>



<table border="1">

    <thead>
    <tr>

        <th scope="col">Username</th>
        <th scope="col">Password</th>
        <th scope="col">email</th>
        <th scope="col">Roles</th>
        <th scope="col">action</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getUsername()}">Username</td>
        <td th:text="${user.getPassword()}">Password</td>
        <td th:text="${user.getEmail()}">email</td>
        <td th:text="${user.getRoles()}">Roles</td>
        <td><a th:href="@{edit/{id}(id=${user.getId()})}"><button>edit</button></a>
            <a th:href="@{remove/{id}(id=${user.getId()})}"><button>delete</button></a>
    </tr>
    </tbody>

</table>

    <br>
    <div><a href="new"> <button>add new user</button></a></div>
<br>
<hr>
<a href="/admin"><button>Вернуться</button></a>
<div th:insert="index :: copy"></div>



</body>
</html>